#btn-ingredients,
#btn-ustensils,
#btn-appliances {
  .btn.dropdown-toggle {
    background: rgba(255, 255, 255, 1);
    &:hover,
    &:focus,
    &:active,
    &.show,
    &[aria-expanded="true"] {
      background: rgba(255, 255, 255, 1);
      border-color: rgba(255, 255, 255, 1);
      box-shadow: none;
    }
  }
}

.dropdown-menu.show {
  width: 100%;
  max-height: 315px;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: none;
  transform: translate(0px, 50px) !important;
  &:hover,
  &:focus,
  &:active,
  &.show,
  &[aria-expanded="true"] {
    background: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
    box-shadow: none;
  }
}

.filterSearchBarInput.form-control {
  position: relative;
  border-radius: 1px;
  &:focus {
    border-color: transparent;
  }
}
.filterSearchBarIcone {
  position: absolute;
  font-size: 14px;
  top: 15px;
  right: 25px;
  color: rgba(122, 122, 122, 1);
}
